.sobre{
    background:  linear-gradient(180, #111 0%, #1c1c1c 100%);
    border: 1px solid #222;
    border-radius: 12px;
    padding: 40px 30px;
    text-align: center;
    max-width: 900px;
    margin: 60px auto;
    box-shadow: 0 0 25px rgba(0, 191, 255, 0.15);
}
    .sobre h2 {
        color: #00bfff;
        font-size: 1.1em;
        margin-bottom: 15px;
        letter-spacing: 1px;
        text-transform: uppercase;


    }
    .sobre p{
        color: #000000;
        font-size: 1.1em;
        max-width: 750px;
        margin: 0 auto;


    }
.sobre strong{
    color: #00ffff;
    font-weight: bold;
}

.sobre:hover {
    transform: scale(1.01);
    transition: 0.3s ease;
    box-shadow: 0 0 35px rgba(0, 191, 255, 0.25);
}
.sobre p::first-letter{
    font-size: 1.4cm;
    color: #00bfff;
    font-weight: bold;
}