
html,
body {
  height: 100%;
  width: 100%;
}
body {
  margin: 0;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  color: black;
  background-color: rgb(156, 156, 156);
  line-height: 1.6;
}
.navegacao-top {
  height: 60px;
  background-color: black;
  color: white;
  display: flex;
  align-items: center;
  justify-content: left;
  font-size: 1.5rem;
  font-weight: bold;
  padding: 0 16px;
}
h1 {
  background-color: black;
  color: white;
  text-align: center;
  padding: 20px 20px;
}
  .site-footer {
  background-color: black;
  color: white;
  display: flex;
    align-items: center;
  font-size: 1rem;
    font-weight: bold;
}
.sobre {
  display: flex;
  justify-content: center;
  border: 2px solid #080808;
  border-radius: 12px;
  padding: 40px 30px;
  text-align: center;
  max-width: 900px;
      margin: 209px   auto;
  box-shadow: 0 0 10px rgb(260, 260, 260);
}
.sobre p {
  color: #000000;
  font-size: 1.5em;
  max-width: 750px;
}
.sobre strong {
  color: #0c0c0c;
  font-weight: bold;
}

.sobre:hover {
  transform: scale(1.01);
  transition: 0.3s ease;
  box-shadow: 0 0 35px rgba(249, 250, 250, 0.25);
}
.sobre p::first-letter {
  font-size: 1.4cm;
  color: #030303;
  font-weight: bold;
}

.back-btn {
  display: inline-block;
  background-color: #000000;
  border-radius: 10px;
  color: #fff;
  padding: 8px 12px;
  text-decoration: none;
  font-weight: 600;
  margin-top: 180px;
}

.back-btn:hover {
  opacity: 0.9;
}

.navegacao-top {
  position: fixed;
  top: 20px;
  left: 20px;
  z-index: 1000;
  padding: 0;
  background-color: transparent;
}

@media (min-width: 375px) {
  .navegacao-top {
    font-size: 1.75rem;
    justify-content: flex-start;
    padding-left: 24px;
  }
  .sobre{
    margin:90px auto;
  }
  .site-footer {
    justify-content: center;
    margin:10px auto;
    padding:69px 0;
  }
  .back-btn {
    font-size: 1.2rem;
    margin-top: 190px;
    position: fixed;
    z-index: 1000;      
    display: inline-block;
    background: black;
    color: #fff;
    padding: 6px px;
    border-radius: 6px;
    text-decoration: none;
  }
}

@media (min-width: 900px) {
  body {
    padding: 0;
  }
  .navegacao-top {
    font-size: 2rem;
    padding-left: 40px;
  }
   .site-footer {
    margin-top: 198px;
  }
}
